################################################################################
### AUTOGPT-CPPVULKAN 
################################################################################

################################################################################
### GENERAL SETTINGS
################################################################################

### ENGINE
EXECUTE_LOCAL_COMMANDS=Allow
AI_SETTINGS_FILE=ai_settings.yaml
SPEAK_MODE=False

################################################################################
### LLM MODELS
################################################################################

### LLM MODEL SETTINGS
SMART_LLM_MODEL=.\models\YourModel.gguf
SMART_TOKEN_LIMIT=8000
EMBED_DIM=1536
TEMPERATURE=1

################################################################################
### INTERNET USAGE
################################################################################

### BROWSING
BROWSE_CHUNK_MAX_LENGTH=8192
BROWSE_SUMMARY_MAX_TOKEN=300
# USER_AGENT - Define the user-agent used by the requests library to browse website (Example, Chrome/83.0.4103.97)
# USER_AGENT="Mozilla/5.0"  #--- Options, Chrome/83.0.4103.97, Mozilla/5.0

### GOOGLE
# GOOGLE_API_KEY - Google API key (Example: my-google-api-key)
# CUSTOM_SEARCH_ENGINE_ID - Custom search engine ID (Example: my-custom-search-engine-id)
GOOGLE_API_KEY=your-google-api-key
CUSTOM_SEARCH_ENGINE_ID=your-custom-search-engine-id

################################################################################
### IMAGE GENERATION
################################################################################

### HUGGINGFACE
# HUGGINGFACE_API_TOKEN - HuggingFace API token (Example: my-huggingface-api-token)
HUGGINGFACE_API_TOKEN=your-huggingface-api-token
